@charset "UTF-8";

body{
  margin: 0;
}



header{
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 10;
  position: fixed;
  background: #dddddd;
  border-bottom: 5px solid #00ffff;
}
.logo{
  margin: 12px auto;
  width: 263px;
  height: 60px;
  background: url(image/2018xtech_logotype_s.png);
  font-size: 0;
}
#nav-drawer {
  position: relative;
  margin-left: auto;
}

.nav-unshown {
  display:none;
}

#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

#nav-close {
  display: none;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

#nav-content {
  overflow: auto;
  position: fixed;
  padding: 0 5px;
  top: 0;
  left: 0;
  z-index: 50;
  width: 90%;
  max-width: 270px;
  height: 720px;
  background: #ffffff;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

#nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

@media screen and (min-width:768px) {
  #nav-open {
    display:none;
  }
}

.introduction{
  width: 210%;
  margin: 140px 20px 0 20px;
}

nav{
  margin: 0 20px;
}

.nav-container{
  width: 100%;
  border: 5px double #00ffff;
  padding: 25px;
  width: 300px;
}

main{}
.main-container{
  z-index: 0;
  display: flex;
  padding: 5px 10px 5px 15px;
}

.sidebar{
  display: none;
}

.maincontents{
  order: 1;
  flex: 1 1 auto;
  width: auto;
  margin: 0 15px 0;
  padding: 0;
}



.footer-container{}
footer{
  width: 210%;
  border-top: 5px solid #00ffff;
  background: #dddddd;
}
footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
footer li{
  border-bottom:1px solid #00ffff;
}
footer li a{
  display:block;
  padding: 20px 0;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}
footer li a:hover{
  background: #bbbbbb;
}



  .breadcrump-container{
    bottom: 0;
    width: 210%;
    background-color: #000b00;
    border-top: 3px solid #00ffff;
  }
  .breadcrump{
    margin: 0;
    list-style: none;
    padding: 3px 20px 0px;
    font-size: 30px;
  }
  .breadcrump li{
    display: inline-block;
    color: #ffffff;
  }
  .breadcrump li::after{
    content: ">>";
    padding: 0.5px;
    color: #00ffff;
  }
  .breadcrump li.last{
    content: none;
  }
  .breadcrump li:first-child{
    margin-left: auto;
  }
  .breadcrump li:first-child::after{
    content: "→";
    color: #00ffff;
  }
  .breadcrump li:last-child::after{
    content: none;
  }



figure.image-box{
  float: left;
  padding-right: 20px;
}

.clear{
  clear:both;
}

p{
  font-size: 26px;
  letter-spacing: 1.5px;
  line-height: 30px;
}

.lead::first-letter{
  float:left;
  padding:0.05em 0.05em 0 0;
  line-height: 0.95em;
  font-size: 4.1em;
  font-weight: bold;
}

:target{
  background: #0000ff;
}

a{
  text-decoration: none;
}

a:link{
  color: #00a1e9;
}

a:visited{
  color: #5bad92;
}

a:hover{
  opacity: 0.75;
  text-decoration: underline;
}

::selection{
  background-color: #00ffff;
}





@media screen and (min-width: 768px){

  .sidebar{
    display: flex;
    z-index: 10;
    order: 2;
    flex: 0 0 260px;
    height: 100%;
    padding: 0;
    position: sticky;
    position: -webkit-sticky;
  }

  .introduction{
    width: 100%;
  }

  p{
    max-width: 640px;
    font-size: 16px;
  }

  .breadcrump-container{
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 10;
    border-top: 5px solid #00ffff;
  }
  .breadcrump{
    font-size: 16px;
  }

  .footer-container{
    left: 0;
    top: 0;
    width: 100%;
    background: #000b00;
    border-bottom: 5px solid #00ffff;
    position: fixed;
    z-index: 10;
  }
  footer{}
  footer ul{
    list-style: none;
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 20px 10px 0 10px;
  }
  footer li a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
  }
  footer li a:hover{
    background: #00ffff;
    border-radius: 10px 10px 0 0;
  }
  footer li.students{
    margin-left: auto;
  }
}
